<link href="~/css/Forms/Producers.css" rel="stylesheet" />
@model List<ZahranMovie.Models.Cinema>
@{
    ViewData["Title"] = "List Of Cinemas";
    int x = 1;
}
<h4 class="text-center shadow col-6 mx-auto">Cinemas</h4>
<table class="table border-dark">
    <thead class="bg-dark text-light">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Image</th>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@x</th>
                <td class="text-center px-3 Image"><img class="rounded-circle" src="@item.CinemaImage" alt="@item.CinemaName" /></td>
                <td class="text-center px-3 Name">@item.CinemaName</td>
                <td class="text-center px-3 Bio">@item.CinemaDescription</td>
                <td class="text-center px-3 Action">
                    <a class="btn btn-outline-primary me-2"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-outline-info    me-2"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-outline-danger  me-2"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            x++;
        }
    </tbody>
</table>
<!-- Button trigger modal -->
<div class="row">
    <button class="btn btn-secondary col-2 me-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Actor</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>